-
	const activityList = [
		'Спускоподъёмные операции с пробоотборниками глубинных стволовых пород',
		'Услуги по установке и извлечения опрессовочных пробок',
		'Спускоподъёмные операции с пробоотборниками глубинных стволовых пород',
		'Спускоподъёмные операции со скребками для проведения работ по депарафинизации скважин'
	]

article.activity
	.activity__cont.cont
		h2.activity__title.title Направление деятельности
		ul.activity__list
			each item in activityList
				li.activity__item= item
