-
	const companyList = [
		{
			headline: 'Гирс на канатной проволоке',
			text: 'Геофизические исследования и работы на канатной нержавеющей проволоке в ' +
						'нефтяных и газовых скважинах с избыточным давлением на устье до 700 Атм. и агрессивными ' +
						'средами H2S, CO2',
			link: '#'
		},
		{
			headline: 'Промыслово-геофические исследования скважин',
			text: 'Промыслово геофизические исследования при контроле за разработкой месторождений комплексом ' +
							'прибором с возможностью доставки в интервал записи на ГНКТ, тракторе, ЖК и регистрацией данных ' +
							'в автономном режиме',
			link: '#'
		},
		{
			headline: 'Гис автономным комплексом в горизонтальных скважинах',
			text: 'Геофизические исследования при строительстве скважин с пологим и горизонтальным окончанием комплексом ' +
							'приборов за 1 СПО с доставкой в интервал исследования на бурильном инструменте, НКТ и с записью ' +
							'данных во встроенную память',
			link: '#'
		},
		{
			headline: 'Селективная перфорация при многостадийных ГРП',
			text: 'Проведение селективной перфорации на геофизическом кабеле в горизонтальных скважинах по технологии ' +
							'Plug&Perf, с доставкой в горизонтальный участок по технологии PumpDown при проведении многостадийных ГРП',
			link: '/services.html'
		},
	]

article.about-company
	.about-company__cont.cont
		.about-company__box
			h2.about-company__title.title О компании
			p.about-company__text.about-company__text_tall.
				Компания ООО «ГисАльянсСервис» на протяжении 3 лет является одним из основных подрядчиков, выполняющих
				геофизические исследования и работы в скважинах.
			a.about-company__link.orange-link(href="/about.html") Подробнее о нас
		.about-company__box
			.about-company__list
				each item in companyList
					a.about-company__item(href=`${item.link}`)
						h3.about-company__headline= item.headline
						p.about-company__text.text= item.text
						span.about-company__link.about-company__link_white Подробнее
			a.about-company__area(href="#")
				h3.about-company__headline Дополнительные услуги, при строительстве освоении скважин
				ul.about-company__area-list
					li.about-company__area-item.
						Проведение исследований и работ в скважинах с избыточным давлением на устье. Возможность
						контролировать давления до 700 атм., диаметры лубрикаторов до 100мм, исследования в агрессивных средах)
					li.about-company__area-item.
						Разобщение, отсечение, герметизация внутрискважинных интервалов, путем установки пакеров шлипсового типа
						на геофизическом кабеле невзрывными методами.
					li.about-company__area-item.
						Измерение пространственных характеристик скважина магнитными и гироскопическими инклинометрами. в т.ч. малогабаритными
					li.about-company__area-item.
						Определение текущей и остаточной нефтенасыщенности методами импульсного ННК и СО-каротажа
				span.about-company__link.about-company__link_white Подробнее