article.contacts
	.contacts__cont.cont
		.contacts__area
			.contacts__box
				.contacts__text.
					В работе компания применяет современные методы и технологии. Сотрудники компании имеют большой опыт и квалификацию
					в проведении исследований.
				span.contacts__name Головной офис в Самаре:
				a.contacts__link(href="#") Улица Пушкина, д. 23, офис 305, 3 этаж
				span.contacts__name Наш телефон:
				a.contacts__link(href="tel:88002504950") 8 800 250 49 50
				a.contacts__btn.orange-btn(href="/about.html") Подробнее о нас
			.contacts__box
				.contacts__map#map