article.contacts-page
	.contacts-page__cont.cont
		.contacts-page__area
			.contacts-page__box
				h2.contacts-page__title.title Контакты
				span.contacts-page__note Адрес
				span.contacts-page__note.contacts-page__note_address г. Самара, улица Пушкина, д. 23, офис 305, 3 этаж
				span.contacts-page__note Телефон
				a.contacts-page__link(href='tel:88002504950') 8 800 250 49 50
				span.contacts-page__note Электронная почта
				a.contacts-page__link(href='mailto:gas@nv-gas.com') gas@nv-gas.com
			.contacts-page__box
				.contacts__map#map