-
	const floatingMenuList = [
		{
			title: 'Гирс на канатной проволоке',
			descr: [
				'Геофизические исследования скважин автономным комплексом приборов отбор глубинных проб скважинного флюида',
				'Проведение работ при испытаниях спущенного в скважину оборудования. Установка и излечение изолирующих, опрессовочных пробок. Депарафинизации скважин',
				'Устьевое оборудование при СПО на канатной проволоке'
			]
		},
		{
			title: 'Промыслово-геофические исследования скважин',
			descr: [
				'Промыслово-геофические исследования скважин',
				'Промыслово-геофические исследования скважин',
				'Промыслово-геофические исследования скважин'
			]
		},
		{
			title: 'Гис автономным комплексом в горизонтальных скважинах',
			descr: [
				'Гис автономным комплексом в горизонтальных скважинах',
				'Гис автономным комплексом в горизонтальных скважинах',
				'Гис автономным комплексом в горизонтальных скважинах'
			]
		},
		{
			title: 'Селективная перфорация при многостадийных ГРП',
			descr: [
				'Селективная перфорация при многостадийных ГРП',
				'Селективная перфорация при многостадийных ГРП',
				'Селективная перфорация при многостадийных ГРП'
			]
		},
		{
			title: 'Дополнительные услуги, при строительстве освоении скважин',
			descr: [
				'Дополнительные услуги, при строительстве освоении скважин',
				'Дополнительные услуги, при строительстве освоении скважин',
				'Дополнительные услуги, при строительстве освоении скважин'
			]
		}
	]

aside.floating-menu
	.floating-menu__list
		each item, index in floatingMenuList
			if index === 3
				a.floating-menu__item(href="services.html")= item.title
			else
				a.floating-menu__item(href="#")= item.title
					.floating-menu__descr
						each elem in item.descr
							p.floating-menu__descr-text= elem
